body {
}

.fancy, h2, h3, h4 {
	font-family: 'Amatic SC', cursive;
}

.fancy {
	font-weight: bold;
	font-size: 7em;
}

nav {
	display: ;
}

.spiel {
	margin-bottom: 5%;
}

.box {
	border: 1px solid black;
	margin-bottom: 3%;
	border-radius: 15px;
	text-align: center;
}

.box h4 {
	margin-bottom: -1%;
	margin-top: 4%;
}